@model WebClientWebApi2.Models.TrackTimeVw

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TrackTimeVw</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.BrandCar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrandCar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModelCar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelCar)
        </dd>
                
        <dt>
            @Html.DisplayNameFor(model => model.NameTrack)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameTrack)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BestTimeLap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BestTimeLap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
